body{

    font-family: Arial, sans-serif;
    background:#111;
    color:white;

}


.container{

    width:700px;
    margin:50px auto;
    text-align:center;

}


.preview{

    width:300px;
    max-height:300px;
    object-fit:contain;
    border:2px solid white;

}


button{

    padding:12px 25px;
    cursor:pointer;
    font-size:16px;

}


.result{

    margin-top:30px;
    text-align:left;
    background:#222;
    padding:20px;
    border-radius:10px;

}


pre{

    overflow:auto;

}